@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
.react-wordcloud-tooltip {
  background-color: rgba(255, 255, 255, 0.95) !important;
  color: #111 !important;
  padding: 6px 10px !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  font-weight: 500;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  pointer-events: none; /* evita problemas al intentar hacer hover directamente sobre el tooltip */
}
